@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-clr: #c10000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100px;
  padding: 50px;
  background: var(--primary-clr);
  transition: background-image 0.3s ease;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://source.unsplash.com/1920x1080?nature,weather");
  background-size: cover;
  background-position: center;
}
img {
  width: 100%;
}
.logo{
  filter: hue-rotate(45deg);
}
.wrapper {
  display: flex;
  width: 1200px;
  min-width: 900px;
  border-radius: 40px 0px 40px 0px;
  overflow: hidden;
  opacity: .75;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.022),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.032),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.04),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.048),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.058),
  100px 100px 80px rgba(0, 0, 0, 0.08)
}
.sidebar {
  width: 30%;
  min-width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(227 227 227 / 82%);
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 20px;
  position: relative;
}
.search input {
  width: 100%;
  height: 40px;
  border: 1px solid #ced4da;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 5px;
  padding: 0 15px;
  font-size: 14px;
  color: #495057;
}
.search input:focus {
  outline: none;
  border: 1px solid var(--primary-clr);
}
.search button {
  min-width: 40px;
  height: 40px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--primary-clr);
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.search ul {
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  top: 40px;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.search ul li {
  padding: 10px 15px;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
  text-transform: capitalize;
}
.search ul li:last-child {
  border-bottom: none;
}
.search ul li:hover {
  background-color: #f1f1f1;
}
.search ul li.active {
  background-color: #f1f1f1;
}
.weather-icon {
  width: 100%;
  height: 150px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.weather-icon #icon {
  width: 80%;
  object-fit: cover;
}
.temprature,.date-time {
  display: flex;
  justify-content: center;
}
.temprature #temp {
  font-size: 70px;
  font-weight: 100;
  line-height: 1;
}
.temprature span {
  font-size: 40px;
  margin-top: -10px;
  display: block;
}
.divider {
  width: 100%;
  height: 1px;
  margin: 20px 0;
  background-color: #000;
}
.condition-rain {
  font-size: 13px;
  text-transform: capitalize;
}
.condition-rain div {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  justify-content: center;
  text-align: center;
}
.condition-rain div i {
  width: 20px;
}
.main {
  width: 100%;
  min-width: 400px;
  padding: 20px 40px;
  position: relative;
  padding-bottom: 90px;
  background-color: #a7a7a7c7;
}
.main nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
nav .options {
  display: flex;
  gap: 20px;
  align-items: center;
}
.options button {
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  cursor: pointer;
  text-transform: capitalize;
}
.options button.active {
  color: var(--primary-clr);
}
nav .units button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #1a1a1a;
  background-color: #fff;
  transition: all 400ms ease;
}
nav .duration button {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  color: #1a1a1a;
  background-color: #fff;
  transition: all 400ms ease;
}
nav .duration button:hover, nav .units button:hover{
  filter: invert(100%);
  box-shadow:
  2.5px 1.8px 17.2px rgba(0, 0, 0, 0.31),
  6.4px 4.4px 43.4px rgba(0, 0, 0, 0.214),
  13.1px 9px 88.6px rgba(0, 0, 0, 0.172),
  27px 18.6px 182.5px rgba(0, 0, 0, 0.138),
  74px 51px 500px rgba(0, 0, 0, 0.096);
  transition: all 400ms ease;
}
.duration button.active, .units button.active {
  color: #fff;
  background-color: var(--primary-clr);
  border: 2px solid black;
}
.main .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 32px;
  justify-content: center;
}
.cards .card {
  width: 100px;
  height: 130px;
  border-radius: 20px;
  color: #000000;
  background-color: #dbdbdb;
  text-align: center;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card h2 {
  font-size: 15px;
  font-weight: 600;
}
.card .card-icon {
  width: 50%;
  margin: 0 auto;
}
.card .day-temp {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.highlights {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}
.highlights .heading {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
.highlights .card2 {
  width: 250px;
  height: 150px;
  border-radius: 20px;
  color: #000000;
  background-color: #dbdbdb;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card2 .card-heading {
  color: #272727;
}
.card2 .content {
  margin-top: 20px;
}
.card2 .content p:first-child {
  text-align: center;
  font-size: 30px;
}
.card2 .content p:last-child {
  font-size: 12px;
  margin-top: 20px;
}
.credits {
  text-align: center;
  font-size: 12px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.credits a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.time-zone, .description{
  display: flex;
    align-content: center;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: row;
    justify-content: center;
}
#description{
  text-align: center;
}
.time-zone-text{
  display: flex;
  flex-direction: row;
}